html, body {
    margin: 0;
}
body {
    font-size: 1rem;
}
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    text-transform: capitalize;
}
ul, p {
    margin: 0;
}
p {
    line-height: 1.5;
}
a {
    text-decoration: none;
    transition: opacity .15s ease-in-out;
    font-weight: 600;
    color: inherit;
}
a:hover {
    opacity: .70;
}
img {
    width: 100%;
}
.header {
    height: 100vh;
    background-image:  
    url(../images/masonry/workbook.jpeg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    margin-bottom: 70px
} 
.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1200px;
}
.section {
    margin-bottom: 90px;
}
.heading {
    padding: 30px 0;
}
.text-box {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary {
    color: #d3bebe;
    text-transform: uppercase;
    margin-bottom: 60px;
 }
 .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
 }
 .heading-primary-sub {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
  }
.featured-post {
    display: flex;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.20);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}
.featured-post:hover {
    box-shadow: 1px 1px 60px rgba(0,0,0,0.20);
}
.img-wrapper {
    max-width: 150px;
    height: 150px;
    object-fit: cover;
}
.img-wrapper img {
    height: 100%;
}
.content-wrapper {
    padding: 30px;
}

@media (min-width: 650px) {
    body {
        font-size: 1.125rem;
    }
    .container {
        padding: 0 60px;
    }
    .section {
        margin-bottom: 190px;
    }
}